.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0px;
    align-items: center;
    padding: 0px 40px;
    background-color: #FFFFFF;
    height: 50px !important;
    border-bottom: rgb(230, 230, 230) solid 1px;
    margin-bottom: 10px;
}

.user {
    margin-right: 20px;
    font-size: 12px;
}

.title {
    margin-left: 10px;
}

.reddit-icon {
    font-size: 30px;
    color: rgb(255, 69, 0) !important;
}

.register-button {
    margin-left: 10px !important;
}